/* 
guia rapida:
body --> etiquetas propias
#id --> etiquetas a un id concreto
.clase --> etiquetas a una clase
*/

/* body style */
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}

/* header style */
#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #09a02f;
}

.center{
    width: 75%;
    margin: 0px auto;
}

/* it use to control whitespace between divs, so it is useful to avoid modifying the header CSS */
.clearfix{
    clear: both;
    float: none;
}

/* logo style */
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 10px;
    animation: beatLogo infinite 2s linear;
}

@keyframes beatLogo {
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.02, 1.02);
    }
    55%{
        transform: scale(0.95, 0.95);
    }
    100%{
        transform: scale(1, 1);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}


/* menu style */
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

/* all <a> tags not only the list a tags, if you want change only the a list tags use "menu ul li a{}"*/
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover,
#menu .active{
    color: #0d912a;
    border-bottom: 1px solid #0d912a;
}

/* slider css */
#slider{
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px #444;

    /* esto es un degradado cogido de https://www.cssmatic.com/ */
    background: rgba(104,227,135,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(104,227,135,1) 0%, rgba(9,165,48,1) 74%, rgba(9,165,48,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(104,227,135,1)), color-stop(74%, rgba(9,165,48,1)), color-stop(100%, rgba(9,165,48,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(104,227,135,1) 0%, rgba(9,165,48,1) 74%, rgba(9,165,48,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(104,227,135,1) 0%, rgba(9,165,48,1) 74%, rgba(9,165,48,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(104,227,135,1) 0%, rgba(9,165,48,1) 74%, rgba(9,165,48,1) 100%);
    background: radial-gradient(ellipse at center, rgba(104,227,135,1) 0%, rgba(9,165,48,1) 74%, rgba(9,165,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68e387', endColorstr='#09a530', GradientType=1 );
    
}

#slider h1{
    margin: 0px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

/*slide button style */
.btn-white{
    display: block;
    background: white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 180px;
    height: 25px;
    margin: 40px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 25px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background-color: #444;
    color: white;
}

/* content style */
#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

/* sidebar styles */
#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 16px;
    margin: 0px;
    border-bottom: 3px solid rgb(230, 228, 228);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}

/* sidebar button styles */
.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 1px;
}

.btn-success{
    background: rgb(9, 196, 118);
}

.btn-success:hover{
    background: black;
}

input[type="text"],textarea{
    width: 95%;
    min-height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 3px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 2px #ccc inset;
}

textarea{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}

.full-form{
    width: 50%;
    margin: 0px auto;
}

.full-form label{
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;

}

.form-group input[type="text"]{
    width: 100%;
}

.radiobuttons{
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}


/* articles styles */
.article-title{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(120, 120, 120);
}

.article-item a{
    display: block;
    color: rgb(41, 204, 35);
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    color: rgb(9, 114, 9);
    text-decoration: underline;
}

/* Footer styles */
#footer{
    background: #f7f7f7;
    width: 100%;
    height: 72px;
    line-height: 65px;
    color: #444;
}

#footer p{
    margin: 0px;
    padding: 0px;
}


/* article.html style */
.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}


/* responsive design */

/* Desde la anchura 0px hasta la anchura dada de la pantalla ejecuta estos estilos*/
/* si hay varios entonces se ejecuta el de menor a mayor --> intervalos (0px-1314px, 1314px-1488px) */
@media (max-width: 1488px){
    .center{
        width: 85%;
    }
}

@media (max-width: 1314px){
    .center{
        width: 95%;
    }

    #menu ul{
        width: auto;
    }
}

@media (max-width: 1064px){
    #logo{
        float: none;
        width: 310px;
        margin: 0px auto;
        margin-top: 20px;
    }

    #menu, #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
       float: none;
       width: 60%; 
       margin: 0px auto;
       margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }

    .full-form{
        width: 70%;
    }
}


@media (max-width: 956px){
    #logo{
        float: none;
        width: 310px;
        margin: 0px auto;
        margin-top: 20px;
    }
}

@media (max-width: 495px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    #menu, menu ul{
        line-height: 50px;
    }

    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 180px;
    }

    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white{
        margin-top: 20px;
    }
}